{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block navscroller_banner %}
{% endblock %}

{% block main %}

        <!-- MAIN SECTION -->
        <main class="bg-light pt-2"  style="height: 100vh;">

        </main>
        <!-- END SECTION -->

{% endblock %}