<div id="review" class="tab-pane h-auto" role="tabpanel" aria-labelledby="review">
    <div class="card h-auto">
        <div class="card-header">
            {{  'review' | trans }}
        </div>
        <div class="card-body bg-light" id="review_summary">
            <div class="row mb-3">
                <div class="alert alert-success rounded-0 m-5" role="alert">
                    <h4 class="alert-heading">We are processing your data!</h4>
                    <p>We will shortly send you an email with the summary of your applications infos.</p>
                    <hr>
                    <p class="mb-0">Please proceed to payment and keep track of your application status later.</p>
                </div>
            </div>
        </div>
    </div>
</div>
