<footer>
    <div class="row p-5">
        <div class="item col-lg-4 col-md-4 col-sm-6">
            <img src="{{ asset('assets/images/flag_congo.svg') }}" width="200" height="100">
            <div id="text-4" class="widget widget_text"><h4 class="footer_widget_title">RDC Online eVisa System</h4>
                <div class="textwidget"><p>This is the Visa portal of the Democratic Republic of Congo. This will help
                        you to submit your visa application online , from the comfort of your home. Apply online , pay
                        the fees and get your Visa!</p>
                </div>
            </div>
        </div>
        <div class="item col-lg-4 col-md-4 col-sm-6">
            <div>
                <h4 class="footer_widget_title">Help Section</h4>
                <ul id="menu-help-section" class="menu">
                    <li><a href="">How to Apply</a></li>
                    <li><a href="">How to upload documents</a></li>
                    <li><a href="">Photograph Guide</a></li>
                    <li><a href="">Application Guide</a></li>
                    <li><a href="">Important Terms</a></li>
                    <li class=""><a href="">FAQs</a></li>
                    <li><a href="">Visa Abolition List</a></li>
                </ul>
            </div>
        </div>
        <div class="item col-lg-4 col-md-4 col-sm-6">
            <div>
                <h4>Terms &amp;Conditions</h4>
                <ul>
                    <li>
                        <a href="">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>