{% extends 'base.html.twig' %}

{% block title %}Check your eligibility{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block navscroller_banner %}
    <div id="banner" class="p-2 mb-4 text-white">
        <div class="col-md-12 d-flex justify-content-start align-content-end"></div>
    </div>
{% endblock %}

{% block main %}

        <!-- MAIN SECTION -->
        <main class="bg-light">
            <h1>CHECK ELIGIBILITY</h1>
        </main>
        <!-- END SECTION -->

{% endblock %}